        @font-face {
            font-family: "Merriweather";
            src: url("fonts/Merriweather/Merriweather-Regular.ttf");
            font-weight: 400;
        }
        @font-face {
            font-family: "Merriweather-Light";
            src: url("fonts/Merriweather/Merriweather-Light.ttf");
            font-weight: 200;
        }@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Roboto&display=swap');

        html {
            
        }
        h1 {
            color: red;
           font-family: 'Montserrat', sans-serif;
            text-align: center;
        }
        h3 {
            font-family: 'Montserrat', sans-serif;
        }
        
        #bioHeader {
            color: brown;
            text-align: center;
        }

        #skillsHeader {
            color: green;
            text-align: center;
        }
        .content {
            color: gray;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            text-align: justify;
            line-height: normal;
            font-weight: 200;
        }
.bold {
    font-weight: bold;
}
.img-div
{
background-color: lightskyblue;

}
.light {
    background-color: lightskyblue;

}
        img {
            width: 14.4%;
            box-shadow: 3px 3px 7px;
            margin: 1%;
        }